/*
a {
	text-decoration: none; 
	color:blue;
}

a:visited{
  color:blue;
}

a:hover {
	text-decoration: underline;
}

a.selected {
	font-weight: bold;
}
*/


body {
	margin-top: 28px;
	margin-bottom: 8px;
}

.row {
	margin-top: 3px;
}

/*.btn {
	padding-top: 1px;
}*/
.body-component {
	padding-left: 15px;
	padding-right: 15px;
}

.input-group {
  margin-bottom: 3px;
}

.portfolio-item {
	text-decoration: none;
	color: black;
}

.portfolio-item:hover {
	text-decoration: underline;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}


